---
import { Button } from './ui/button';
import top from '../assets/top.png';
import owner from '../assets/owner.png';
import FadeIn from './FadeIn.astro';
// const response = await fetch(import.meta.env.CMS_ENDPOINT);
// const data = await response.json();
// console.log(data);
---

<div class="md:flex items-center pt-8 md:pt-16" style={{ backgroundImage: `url(${top.src})`, backgroundSize: 'cover', backgroundPosition: 'center' }}>
    <div class="md:w-1/2 p-4 text-center">
        <FadeIn client:visible>
            <h1 transition:animate="fade" class='text-2xl md:text-4xl font-semibold'>インビザライン矯正医<span class='text-xl'>として</span><br />
                患者様に選ばれるための<br />
                <span class='inline-block text-main text-3xl md:text-5xl mt-4'>2日間集中コース</span>
            </h1>
        </FadeIn>
        <FadeIn client:visible>
            <div class='mt-8'>
                <Button className="px-8 py-6 shadow-lg bg-main text-main-cont rounded-none w-full md:w-auto md:min-w-96 text-xl hover:bg-main/80">
                    <a href="#detail" class="w-full">セミナー情報を見る</a>
                </Button>
            </div>
        </FadeIn>
    </div>
    <div class="md:w-1/2 flex justify-center items-center">
        <img src={owner.src} alt="藤本" width={300} />
    </div>
</div>