<div class="flex justify-center items-center text-main font-bold text-xl text-center md:min-w-48 aspect-square rounded-full bg-gradient-to-r from-white to-gray-300 whitespace-pre-wrap">
    <slot />
</div>